<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>

<div class="col-lg-5">

    <form method="post" th:action="@{/changeAccess}" th:object="${accessManagement}" class="login-form">
        <h2 class="loginTitle">Lab.7-SI</h2>
        <h2 class="loginTitle">Access Management</h2>

        <div class="form-group">
            <label for="siteName">Site name</label>
            <input class="form-control" id="siteName" placeholder="Site name" th:field="*{siteName}">
        </div>


        <select th:field="*{actionType}">
            <option th:value="BLOCK_SITE" th:text="BLOCK_SITE"></option>
            <option th:value="UNBLOCK_SITE" th:text="UNBLOCK_SITE"></option>
        </select>


        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<th:block th:include="partialViews/footer :: footer"></th:block>
</body>
</html>